name: Library CLI Release

on:
    push:
        tags:
          - "v*"

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r requirements.txt
          python -c "import system.library"
    
  build:
    needs: test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r requirements.txt
          python -m pip install pyinstaller
          pyinstaller --onefile library-CLI.py

      - name: Rename binary
        shell: bash
        run: |
          if [ "${{ matrix.os }}" = "ubuntu-latest" ]; then
            mv dist/main dist/library-cli-linux
          else
            mv dist/main.exe dist/library-cli-windows.exe
          fi
        
      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*